fastapi
joblib
numpy
scikit-learn==1.6.1
openpyxl
gunicorn
uvicorn[standard]
sqlalchemy>=1.4
psycopg2-binary
pydantic>=2.0
pydantic-settings>=2.0.0
asyncpg
databases
pandas
tensorflow==2.15.0 
python-multipart
fpdf
